
.mat-column {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }


  .mat-column-firstName{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-lastName{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-userName{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-email{
    flex: 0 0 15% !important;
    width: 15% !important;
  }

  .mat-column-role{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-lastLogin{
    flex: 0 0 20% !important;
    width: 20% !important;
  }

  .mat-column-actions{
    flex: 0 0 20% !important;
    width: 20% !important;
  }

  table {
    width: 100%;
  }

  .delete{
    color:brown;
    cursor: pointer;
    text-decoration: underline;
  }