
<h1 class="mat-h1">Cyber Events History <button *ngIf="auth.isAdmin()" mat-mini-fab style="float:right;" (click)="addEvent()">Add</button></h1>
<span>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <mat-select (selectionChange)="changeFilter($event)">
      <mat-option value="eventName" >
       Event Name
      </mat-option>
      <mat-option value="system">
          System
         </mat-option>
    <mat-option value="attacker">
            Attacker
     </mat-option>
     <mat-option value="victim">
        Victim
 </mat-option>
 <mat-option value="attackTarget">
    Attack Target
</mat-option>
    </mat-select>
  </mat-form-field>

</span>
<mat-form-field style="margin-left:5px">
  <input matInput (keyup)="applyFilter($event.target.value)" [disabled]="!this.filterField" placeholder="Search">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

  

    <ng-container matColumnDef="eventName">
      <th mat-header-cell *matHeaderCellDef> Event Name </th>
      <td class ="mat-column mat-column-name" mat-cell *matCellDef="let element"> {{element.eventName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="system">
      <th mat-header-cell *matHeaderCellDef> System </th>
      <td class ="mat-column mat-column-system" mat-cell *matCellDef="let element"> {{element.system}} </td>
    </ng-container>
  
    <ng-container matColumnDef="attacker">
      <th mat-header-cell *matHeaderCellDef> Attacker </th>
      <td class ="mat-column mat-column-attacker" mat-cell *matCellDef="let element"> {{element.attacker}} </td>
    </ng-container>
  
    <ng-container matColumnDef="victim">
      <th mat-header-cell *matHeaderCellDef> Victim </th>
      <td class ="mat-column mat-column-victim" mat-cell *matCellDef="let element"> {{element.victim}} </td>
    </ng-container>

    <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef> Target </th>
        <td class ="mat-column mat-column-target" mat-cell *matCellDef="let element"> {{element.attackTarget}} </td>
    </ng-container>

     <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td class ="mat-column mat-column-date" mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td class ="mat-column mat-column-date" mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
    </ng-container>


    <ng-container matColumnDef="actions" >
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td  class ="mat-column mat-column-date" mat-cell *matCellDef="let element"> 
          <span *ngIf="auth.isAdmin()"><i class="edit" (click)="edit(element)">Edit </i><i class="delete" (click)="deleteEvent(element)">Delete</i></span> 
          <span *ngIf="!auth.isAdmin()">---</span> 
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram" >
                  <p><b>Description: </b> <i style="font-family: Arial, Helvetica, sans-serif">{{element.description}}</i></p>
                  <mat-form-field>
                    <input matInput placeholder="Add a comment..." maxlength="50" [(ngModel)]="comment">
                  </mat-form-field>
                  <button mat-button (click)="addComment(element._id)">Add</button>
                  <h2 class="mat-h2">All Comments</h2>
                  <mat-spinner [diameter] = "30" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                  <div class="comment" *ngFor="let c of comments">
                    <span>User : <b>{{c.user}} </b>, comment : <b>{{c.comment}}</b> , Rating:
                      <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
                      <i *ngIf="auth.isAdmin()" class="delete" (click)="deleteComment(c._id, element._id)" style="margin-left:5px">Delete</i>
                    </span>
                  </div>
                </div>
                </div>
            </td>
          </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element? null : element; getComments(element._id)">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>