mat-form-field{
  font-size: 16px;
}
.mat-column {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }


  .mat-column-name{
    flex: 0 0 15% !important;
    width: 15% !important;
  }

  .mat-column-date{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-system{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-attacker{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-victim{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-target{
    flex: 0 0 30% !important;
    width: 30% !important;
  }

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: lightgray;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    min-height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .edit{
    color:cornflowerblue; 
    text-decoration: underline;
    cursor: pointer;
  }

  .delete{
    color:brown;
    cursor: pointer;
    text-decoration: underline;
  }