
<h4 mat-dialog-title>{{data.editMode? 'Edit Event' : 'Add Event'}}</h4>
<mat-dialog-content>

    
<mat-form-field>
        <input matInput [(ngModel)]="event.eventName" placeholder="Event Name">
</mat-form-field>
<mat-form-field>
        <input matInput [(ngModel)]="event.system" placeholder="System">
</mat-form-field>
<mat-form-field>
        <input matInput [(ngModel)]="event.attacker" placeholder="Attacker">
</mat-form-field>
<mat-form-field>
        <input matInput [(ngModel)]="event.victim" placeholder="Victim">
</mat-form-field>
<mat-form-field>
        <input matInput [(ngModel)]="event.attackTarget" placeholder="Target">
</mat-form-field>

<mat-form-field>
        <textarea matInput [(ngModel)]="event.description" placeholder="Description"></textarea>
</mat-form-field>

<mat-form-field>
    <input matInput type="date" name="event.startDate" [ngModel]="event.startDate | date:'yyyy-MM-dd'" placeholder="Start Date" (ngModelChange)="event.startDate = $event">
</mat-form-field>

<mat-form-field>
    <input matInput type="date" name="event.endDate" [ngModel]="event.endDate | date:'yyyy-MM-dd'" placeholder="End Date" (ngModelChange)="event.endDate = $event">
</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
<button mat-raised-button (click)="confirm()">Confirm</button>
</mat-dialog-actions>

