<mat-toolbar color="primary">
  <mat-toolbar-row>
      <img class="img-fluid" src="../../assets/logo.png">
  <span>MCA</span>
      <span>
      <button mat-button [routerLink]="['']">Login</button>
      <button mat-button [routerLink]="['register']">Register</button>
    </span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>